@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="WithdrawLog.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="WithdrawLogTableToolbar" role="group">
                            @if(shiro.hasPermission("/withdrawLog/add")){
                                <#button name="添加" icon="fa-plus" clickFun="WithdrawLog.openAddWithdrawLog()"/>
                            @}
                            @if(shiro.hasPermission("/withdrawLog/update")){
                                <#button name="修改" icon="fa-plus" clickFun="WithdrawLog.openWithdrawLogDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/withdrawLog/delete")){
                                <#button name="删除" icon="fa-plus" clickFun="WithdrawLog.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="WithdrawLogTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/zy/withdrawLog/withdrawLog.js"></script>
@}
