<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.rest.common.persistence.dao.AppVersionMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.stylefeng.guns.rest.common.persistence.model.AppVersion">
		<id column="id" property="id" />
		<result column="version" property="version" />
		<result column="description" property="description" />
		<result column="url" property="url" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, version, description, url
    </sql>

	<select id="getLastVersion" resultType="AppVersion">
		select
		<include refid="Base_Column_List" />
		from t_app_version
		where id in (SELECT MAX(id) FROM t_app_version)
	</select>
</mapper>
