@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="主建id" value="${item.id}" underline="true"/>
                            <#input id="version" name="版本号" value="${item.version}" />
                </div>

                <div class="col-sm-6">
                            <#input id="description" name="更新说明" value="${item.description}" underline="true"/>
                            <#input id="url" name="下载地址" value="${item.url}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AppVersionInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AppVersionInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/appVersion/appVersion/appVersion_info.js"></script>
@}
