<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.common.persistence.dao.ConversionLogMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.stylefeng.guns.common.persistence.model.ConversionLog">
		<id column="id" property="id" />
		<result column="userId" property="userId" />
		<result column="points" property="points" />
		<result column="cloudPoints" property="cloudPoints" />
		<result column="onlyPayPoints" property="onlyPayPoints" />
		<result column="dailyCloudConversionRate" property="dailyCloudConversionRate" />
		<result column="dailyCloudConverPoints" property="dailyCloudConverPoints" />
		<result column="dailyConsumptionConversionRate" property="dailyConsumptionConversionRate" />
		<result column="dailyConsumptionConverPoints" property="dailyConsumptionConverPoints" />
		<result column="newPoints" property="newPoints" />
		<result column="newCloudPoints" property="newCloudPoints" />
		<result column="newOnlyPayPoints" property="newOnlyPayPoints" />
		<result column="dailyRechargeSum" property="dailyRechargeSum" />
		<result column="dailyWithdrawSum" property="dailyWithdrawSum" />
		<result column="formalityRate" property="formalityRate" />
		<result column="dailyConsumptionSum" property="dailyConsumptionSum" />
		<result column="createTime" property="createTime" />
		<result column="succeed" property="succeed" />
		<result column="message" property="message" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, userId, points, cloudPoints, onlyPayPoints, dailyCloudConversionRate, dailyCloudConverPoints, dailyConsumptionConversionRate, dailyConsumptionConverPoints, newPoints, newCloudPoints, newOnlyPayPoints, dailyRechargeSum, dailyWithdrawSum, formalityRate, dailyConsumptionSum, createTime, succeed, message
    </sql>

</mapper>
