@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="主键" value="${item.id}" underline="true"/>
                            <#input id="userId" name="用户id" value="${item.userId}" underline="true"/>
                            <#input id="points" name="用户当前积分" value="${item.points}" underline="true"/>
                            <#input id="cloudPoints" name="用户当前云积分" value="${item.cloudPoints}" underline="true"/>
                            <#input id="onlyPayPoints" name="用户当前消费积分" value="${item.onlyPayPoints}" underline="true"/>
                            <#input id="dailyCloudConversionRate" name="每日云积分转换率" value="${item.dailyCloudConversionRate}" underline="true"/>
                            <#input id="dailyCloudConverPoints" name="每日云积分" value="${item.dailyCloudConverPoints}" underline="true"/>
                            <#input id="dailyConsumptionConversionRate" name="每日消费积分转换率" value="${item.dailyConsumptionConversionRate}" />
                </div>

                <div class="col-sm-6">
                            <#input id="dailyConsumptionConverPoints" name="每日消费积分分" value="${item.dailyConsumptionConverPoints}" underline="true"/>
                            <#input id="newPoints" name="转换后用户当前积分" value="${item.newPoints}" underline="true"/>
                            <#input id="newCloudPoints" name="转换后用户当前云积分" value="${item.newCloudPoints}" underline="true"/>
                            <#input id="newOnlyPayPoints" name="转换后用户当前消费积分" value="${item.newOnlyPayPoints}" underline="true"/>
                            <#input id="createTime" name="转换时间" value="${item.createTime}" underline="true"/>
                            <#input id="succeed" name="是否成功" value="${item.succeed}" underline="true"/>
                            <#input id="message" name="备注" value="${item.message}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ConversionLogInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ConversionLogInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/zy/conversionLog/conversionLog_info.js"></script>
@}
