@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-12 b-r">
                            <#input id="dailyCloudConversionRate" name="每日云积分转换率" value="${item.dailyCloudConversionRate}" />
                            <#input id="dailyConsumptionConversionRate" name="每日消费积分转换率" value="${item.dailyConsumptionConversionRate}" underline="true"/>
                            <#input id="formalityRate" name="手续费率" value="${item.formalityRate}" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ParamInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ParamInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/zy/param/param_info.js"></script>
@}
