@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="主键id" underline="true"/>
                            <#input id="firstcommission" name="一级提成" underline="true"/>
                            <#input id="secondcommission" name="二级提成"/>
                </div>

                <div class="col-sm-6">
                            <#input id="dailyCloudConversionRate" name="每日云积分转换率" underline="true"/>
                            <#input id="dailyConsumptionConversionRate" name="每日消费积分转换率" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ParamInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ParamInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/zy/param/param_info.js"></script>
@}
