@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${item.id}">
            <input type="hidden" id="shopIdValue" value="${item.shopId}">
            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="name" name="商品名称" value="${item.name}" underline="true"/>
                            <#input id="description" name="描述" value="${item.description}" underline="true"/>
                            <#input id="highPice" name="售价" value="${item.highPice}" />
                            <#input id="lowPice" name="折后价" value="${item.lowPice}" underline="true"/>
                </div>

                <div class="col-sm-6">
                            <#input id="shopName" name="所属店铺" hidden="shopId" hiddenValue="${item.shopId}" readonly="readonly" value="${shopName}"
                            clickFun="ProductInfoDlg.showShopSelectTree(); return false;"
                            style="background-color: #ffffff !important;"/>
                            <#input id="productCategoryName" name="所属分类" hidden="categoryId" hiddenValue="${item.categoryId}" readonly="readonly" value="${productCategoryName}"
                            clickFun="ProductInfoDlg.showProductCategorySelectTree(); return false;"
                            style="background-color: #ffffff !important;"/>
                            <#input id="points" name="获得积分" value="${item.points}" underline="true"/>
                </div>
            </div>
            <!-- 这是店铺类型下拉框 -->
            <div id="shopContent" class="menuContent"
                 style="display: none; position: absolute; z-index: 200;">
                <ul id="shopTree" class="ztree tree-box" style="width: 250px !important;"></ul>
            </div>
            <!-- 这是店铺类型下拉框 -->
            <div id="productCategoryContent" class="menuContent"
                 style="display: none; position: absolute; z-index: 200;">
                <ul id="productCategoryTree" class="ztree tree-box" style="width: 250px !important;"></ul>
            </div>
            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ProductInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ProductInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/zy/product/product_info.js"></script>
@}
